/* Asterisk selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Add smooth scroll behavior */
html {
    scroll-behavior: smooth;
}

/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');


/* General Styles */
body {
    font-family: Nunito, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
}

/* Main Content */
header {
    background-color: #d8456b;
    color: #fff;
    height: 140px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main {
    background-color: white;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    padding: 1rem;
}

h1 {
    letter-spacing: -0.64px;
    line-height: 1.25em;
    font-weight: 400;
}

h2,
h4 {
    color: #4a4a4a;
    line-height: 1.25em;
    margin-bottom: 0.75rem;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.header-text {
    margin-top: 2px;
    font-size: 14px;
    line-height: 16px;
}

.search-form {
    margin-bottom: 20px;
}

.form-bar {
    width: 100%;
    margin-top: 10px;
}

.search-bar {
    display: flex;
}

#searchInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

#searchButton {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: 1px solid #4CAF50;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
}

#searchButton i {
    margin-right: 5px;
}

.scroll-up-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.recipe-card {
    overflow: hidden;
    list-style: none;
    margin-bottom: 16px;
    border-radius: 4px;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.1);
    height: 130px;
    width: 100%;
}

.recipe-card:hover {
    transform: scale(1.02);
}

.recipe-details {
    position: relative;
    padding: 15px;
}

.recipe-content {
    display: flex;
}

.recipe-image img {
    width: 100px;
    height: 100%;
    object-fit: cover;
    border-bottom: 1px solid #ccc;
}

.text-details {
    margin-left: 15px;
    margin-top: 4px;
    margin-bottom: 8px;
    color: rgba(79, 80, 90, 0.6);
    font-size: 13px;
    line-height: 16px;
}

.back-page {
    font-size: 13px;
    line-height: 16px;
    color: rgba(79, 80, 90, 0.6);
}

.back-page:hover {
    color: #4a4a4a;
}

.page{
    padding-top: 15px;
}

.text-details:hover {
    color: #4a4a4a;
}

.text-details p {
    padding: 5px 0;
}

.text-details i {
    cursor: pointer;
}

.text-details a {
    color: rgba(79, 80, 90, 0.6);
}

.text-details a:hover {
    color: #4a4a4a;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingredient-list {
    list-style: none;
    padding: 0;
}

.ingredient-item {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid #ccc;
    margin-bottom: 8px;
    padding: 8px;
    list-style: none;
    margin-left: 15px;
    margin-top: 4px;
    color: #4a4a4a;
    font-size: 15px;
    line-height: 16px;
}

.info-text {
    margin-bottom: 8px;
    padding: 8px;
    list-style: none;
    margin-left: 15px;
    margin-top: 4px;
    color: red;
    font-size: 15px;
}

.edit-panel {
    display: none;
}

.edit-panel.show-edit-panel {
    display: block;
    position: absolute;
    top: 55%;
    left: 10px;
    width: 100%;
}

.ingredient-item.edit-panel-active {
    padding-bottom: 30px;
}

.edit-btn {
    margin-left: 8px;
    cursor: pointer;
}

.edit-btn[disabled] {
    cursor: not-allowed;
}

/* Add styling for the check icon */
.ingredient-item i.fas.fa-check {
    margin-left: auto;
    color: green;
    /* Change the color as needed */
}

.load-more-btn {
    background-color: #4CAF50;
    color: white;
    border-radius: 2.5rem;
    line-height: 1.25;
    padding: 9px 12px;
    white-space: nowrap;
    border: none;
    letter-spacing: 1px;
    font-size: 18px;
    cursor: pointer;
    width: auto;
    transition: background-color 0.3s;
}

.load-more-btn:hover {
    background-color: #45a049;
}

.load-more-btn:active {
    background-color: #3e8e41;
}

.load-more-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

.form-load-more {
    text-align: center;
    padding: 20px;
}

.footer-container {
    background-color: #d8456bd4;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 0 0 100%;
    padding: 20px;
    line-height: 24px;
    letter-spacing: 1px;
}

.column {
    flex: 0 0 calc(33.333% - 20px);
    margin-bottom: 20px;
}

ul#social-network {
    list-style: none;
    padding: 0;
    display: flex;
}

ul#social-network li {
    margin-right: 10px;
}

ul#social-network a {
    color: black;
}

ul#social-network a:hover {
    color: white;
}

.contact-information {
    margin-top: 10px;
}

.footer-bottom {
    background-color: #d8456b;
    font-size: 13px;
    color: white;
    text-align: center;
    padding: 10px;
}

.add-margin {
    margin-bottom: 20px;
}

.update-all-btn {
    display: none;
}

ul:has(li.ingredient-item)+.update-all-btn {
    display: inline-block;
    margin-top: 20px;
}

.updated-amount {
    color: green;
    font-weight: bold;
}

/* Media query: large and landscape phones (576px and up) */
@media screen and (min-width: 576px) {}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    .recipe-image img {
        width: 150px;
    }

    .footer-container {
        flex-direction: row;
    }
}

/* Media query: laptop and larger (992px and up) */
@media screen and (min-width: 992px) {
    .recipe-container {
        display: flex;
        width: fit-content;
        flex-wrap: wrap;
    }

    .recipe-card {
        width: calc(33.33% - 20px);
        margin: 5px;
        transition: transform 0.3s ease-in-out;
    }

    .recipe-card:hover {
        transform: scale(1.02);
    }
}

/* Media query: desktop and larger (1200px and up) */
@media screen and (min-width: 1200px) {}

/* Media query: larger (1400px and up) */
@media screen and (min-width: 1400px) {}