/* Asterisk selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Add smooth scroll behavior */
html {
    scroll-behavior: smooth;
}

/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Tajawal', sans-serif;
    /* Generic project styles */
    color: var(--primary-color);
}


/* Main Content */
main {
    background-color: white;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    padding: 1rem;
}
.scroll-up-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

/* Add styles for recipe cards */
.recipe-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: hidden;
}

.recipe-details {
    padding: 15px;
}

.recipe-image img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}

.load-more-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: lightgray
}

/* Media query: large and landscape phones (576px and up) */
@media screen and (min-width: 576px) {}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    .recipe-container{
        display: flex;
        width: fit-content;
    flex-wrap: wrap;
    }
    .recipe-card {
        width: calc(33.33% - 20px); /* width for three-column layout */
        margin: 5px;
    }
}

/* Media query: laptop and larger (992px and up) */
@media screen and (min-width: 992px) {}

/* Media query: desktop and larger (1200px and up) */
@media screen and (min-width: 1200px) {
    .recipe-card {
        width: calc(25% - 20px); /* width for a four-column layout */
    }
}

/* Media query: larger (1400px and up) */
@media screen and (min-width: 1400px) {
    .recipe-card {
        width: calc(20% - 20px); /* width for a five-column layout */
    }
}