<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <!-- Add your CSS styles or link to the stylesheet if needed -->
</head>
<body>
    <header>
        <h1 id="logo">BakeMate</h1><br>
        <p>You can make {{ total_recipes }} recipes</p>
    </header>
    <h2>404 Not Found</h2>
    <p>The requested page could not be found.</p>
    <p>The requested page could not be found. It seems like you've stumbled upon a recipe that doesn't exist.</p>
    <p><a href="/">Return to Recipes</a></p>
</body>
</html>
