<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Meta tags for search engine optimization -->
    <meta name="description"
        content="BakeMate is your culinary assistant, seamlessly connecting to a recipe API with ease to deliver a customised experience. It leverages the Flask web framework to provide a smooth user interface for exploring and managing recipes.">

    <meta name="keywords"
        content="BakeMate, culinary assistant, recipe management, baking, home baking, ingredient adjustment, precision baking, baking projects">

    <!-- Favicon & Tab Icon Links -->
    <link rel="apple-touch-icon" sizes="180x180"
        href="{{ url_for('static', filename='favicon_io/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static', filename='favicon_io/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static', filename='favicon_io/favicon-16x16.png') }}">


    <!-- Link CSS Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">

    <title>Cake Recipes</title>
</head>

<body>
    <header>
        <h1 id="logo">BakeMate</h1>
        <p class="header-text">You can make {{ total_recipes }} recipes</p>
        <form action="{{ url_for('search', query='') }}" method="GET" class="form-bar">
            <div class="search-bar">
                <input type="text" name="query" id="searchInput" placeholder="Search for recipes...">
                <button type="submit" id="searchButton"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </header>
    <main>
        <h2>{{ total_recipes }} Cake Recipes</h2>
        <!-- Display current page and add a button to return to the previous page -->
        {% if page > 1 %}
        <p>Page {{ page }} <a href="/load-more?page={{ page - 1 }}">(Previous Page)</a></p>
        {% endif %}
        <ul class="recipe-container">
            {% for recipe in recipes %}
            <li class="recipe-card">
                <div class="recipe-details">
                    <div class="recipe-image">
                        <img src="{{ recipe['featured_image'] }}" alt="{{ recipe['title'] }}">
                    </div>
                    <h2>{{ recipe['title'] }}</h2>
                    <p>Publisher: {{ recipe['publisher'] }}</p>
                    <p>Source URL: <a href="{{ recipe['source_url'] }}" target="_blank">{{ recipe['source_url'] }}</a>
                    </p>
                    <p>Ingredients:</p>
                    <!-- Add a button to redirect to the ingredient.html page -->
                    <a href="/ingredient/{{ recipe['pk'] }}" class="ingredient-btn load-more-btn">View Ingredients</a>
                </div>
            </li>
            {% endfor %}
        </ul>
        <!-- Add a button to load more recipes -->
        <form method="GET" action="/load-more">
            <input type="hidden" name="page" value="{{ page + 1 }}">
            <button class="load-more-btn" type="submit" {% if not has_more_recipes %}disabled{% endif %}>
                Load More Recipes (Page {{ page + 1 }})
            </button>
        </form>
        <button class="scroll-up-btn" onclick="scrollToTop()">↑</button>
    </main>
    <footer>
        <div class="footer-container">
            <div class="column">
                <p>BakeMate knows how to make your special occasion a little sweeter with whatever amount of ingredients
                    you have. We have the perfect cake recipes
                    for you, whether it is an anniversary party, birthday or wedding celebration! Enjoy making cakes in
                    your homes.</p>
            </div>
            <div class="column">
                <div class="contact-information">
                    <p><i class="fas fa-phone"></i> +356 2124 9200</p>
                    <p><i class="far fa-envelope"></i> ntwaricedric@gmail.com</p>
                </div>
                <p>Follow us on</p>
                <ul id="social-network">
                    <li>
                        <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                            aria-label="Visit our Facebook (opens in new tab)"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/" target="_blank" rel="noopener"
                            aria-label="Visit our Twitter (opens in new tab)"><i class="fab fa-twitter-square"></i></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/" target="_blank" rel="noopener"
                            aria-label="Visit our Youtube (opens in new tab)"><i class="fab fa-youtube-square"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                            aria-label="Visit our Instagram (opens in new tab)"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <section class="footer-bottom">
        <p id="author">Built and designed by Jean Cédric Ntwari</p>
    </section>
    <!-- Link JavaScript file -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <!-- Font awesome kit -->
    <script src="https://kit.fontawesome.com/c0241e8eb0.js" crossorigin="anonymous"></script>
</body>

</html>