<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Meta tags for search engine optimization -->
    <meta name="description"
    content="BakeMate is your culinary assistant, seamlessly connecting to a recipe API with ease to deliver a customised experience. It leverages the Flask web framework to provide a smooth user interface for exploring and managing recipes.">

    <meta name="keywords"
    content="BakeMate, culinary assistant, recipe management, baking, home baking, ingredient adjustment, precision baking, baking projects">

    <!-- Favicon & Tab Icon Links -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon_io/apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon_io/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon_io/favicon-16x16.png') }}">


    <!-- Link CSS Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">

    <title>Cake Recipes</title>
</head>
<body>
    <header>
        <h1 id="logo">BakeMate</h1>
        <p>You can make {{ total_recipes }} recipes</p>
    </header>
    <main>
        <h1>Ingredients:</h1>
        <ul>
            {% for ingredient in ingredients %}
            <li class="ingredient-item" data-ingredient-id="{{ loop.index0 }}">
                <span class="ingredient-quantity-name">{{ ingredient }}</span>
                <button class="edit-btn"><i class="fas fa-edit"></i></button>
                <div class="edit-panel">
                    <input type="number" class="edit-input" step="0.1" placeholder="Enter new quantity">
                    <button class="update-btn">Adjust</button>
                </div>
            </li>
            {% endfor %}
        </ul>
        <button class="update-all-btn">Update All</button>
        <a href="/" class="back-btn">Back to Recipes</a>
        <button class="scroll-up-btn" onclick="scrollToTop()">↑</button>
    </main>
    <footer>
        <p>Follow us on</p>
         <ul id="social-network">
            <li>
                <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                    aria-label="Visit our Facebook (opens in new tab)"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank" rel="noopener"
                    aria-label="Visit our Twitter (opens in new tab)"><i class="fab fa-twitter-square"></i></a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank" rel="noopener"
                    aria-label="Visit our Youtube (opens in new tab)"><i class="fab fa-youtube-square"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                    aria-label="Visit our Instagram (opens in new tab)"><i class="fab fa-instagram"></i></a>
                </li>
        </ul>
        <div class="contact-information">
            <p><i class="fas fa-phone"></i> +356 2124 9200</p>
            <p><i class="far fa-envelope"></i> ntwaricedric@gmail.com</p>
        </div>
        <p id="author">Built and designed by Jean Cédric Ntwari</p>
    </footer>
     <!-- Link JavaScript file -->
     <script src="{{ url_for('static', filename='js/script.js') }}"></script>

     <!-- Font awesome kit -->
     <script src="https://kit.fontawesome.com/c0241e8eb0.js" crossorigin="anonymous"></script>
</body>
</html>
