<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ ingredients[0]['name'] }} Recipe</title>
</head>
<body>
    <h1>{{ ingredients[0]['name'] }} Recipe</h1>
    <h2>Ingredients:</h2>
    <ul>
        {% for ingredient in ingredients %}
            <li>{{ ingredient['name'] }} ({{ ingredient['amount']['us']['value'] }} {{ ingredient['amount']['us']['unit'] }})</li>
        {% endfor %}
    </ul>
</body>
</html>
